*.pyc
*~
*.swp
__pycache__
tbaseenv
db.sqlite3
/static/admin/
.DS_Store
/student_crediting/migrations
gunicorn_nginx_commands.txt
tutorsbase.sock
/student_crediting/static/
tutorsbase/settings.py
gunicorn.access
gunicorn.log
db_dumps
