{% extends 'student_crediting/base.html' %}

{% block content %}
  <div class="w3-container w3-margin-left">
    <h1>Exam Statistics</h1>
  <div id="container"></div>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/histogram-bellcurve.js"></script>

{% for examid, dvals in exams.items %}
<br>  
<b class="w3-xlarge">{{ dvals.title }}</b>
  <div id="exam{{examid}}"></div>
    <script>
    Highcharts.chart("exam{{examid}}", {
        chart: {
            type: 'column'
        },
        title: {
            text: ''
        },
        credits: {
            enabled: false
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        xAxis: {
            title: { text: 'Total Credits Exam' },
            alignTicks: false,
          categories: [
                {% for vbc in dvals.bc %}
                  '{{vbc|floatformat:-1}}', 
                {% endfor %}
                  ]
        },
        yAxis: {
            title: { text: 'Occurances' },
        },
        tooltip:{
            formatter: function() {
                var s = "<div style='font-size: smaller;'> Bin ["+ this.point.edgl + ", " + this.point.edgh +"]</div>";
                return s += '<br/><span style="color:' + this.point.color + '">\u25CF</span> '+ 'Occurances: <b>' + this.point.y + '</b>';
            },
            outside: true,
            hideDelay: 50,
        },
        series: [
                {
                name: '{{dvals.title}}',
				data: [
					{% for dvh, edg in dvals.histedges %}
                        {y: {{dvh}},
                         edgl: {{edg.0|floatformat:-1}},
                         edgh: {{edg.1|floatformat:-1}},
                        },
					{% endfor %}
                ]
                },
        ]
    });
  </script>


  <div id="combined{{examid}}"></div>
    <script>
    Highcharts.chart("combined{{examid}}", {
        chart: {
            type: 'column'
        },
        title: {
            text: ''
        },
        credits: {
            enabled: false
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        xAxis: {
            title: { text: 'Combined Credits' },
            alignTicks: false,
          categories: [
                {% for vbc in dvals.bc_tot %}
                  '{{vbc|floatformat:-1}}', 
                {% endfor %}
                  ]
        },
        yAxis: {
            title: { text: 'Occurances' },
        },
        tooltip:{
            formatter: function() {
                var s = "<div style='font-size: smaller;'> Bin ["+ this.point.edgl + ", " + this.point.edgh +"]</div>";
                return s += '<br/><span style="color:' + this.point.color + '">\u25CF</span> '+ 'Occurances: <b>' + this.point.y + '</b>';
            },
            outside: true,
            hideDelay: 50,
        },
        series: [
                {
                name: '{{dvals.title}}',
				data: [
					{% for dvh, edg in dvals.he_tot %}
                        {y: {{dvh}},
                         edgl: {{edg.0|floatformat:-1}},
                         edgh: {{edg.1|floatformat:-1}},
                        },
					{% endfor %}
                ]
                },
        ]
    });
  </script>


{% endfor %}

{% endblock %}

