{% extends 'student_crediting/base.html' %}

{% block content %}

  <table class="w3-table-all w3-hoverable w3-card-4">
    <tr>
        <th> Sheet </th>
        <th> Due date </th>
        <th> Exercises </th>
        <th> Solutions </th>
    </tr>
    {% for sheet in results %}
    <tr>
        {% if request.user.is_staff %}
          <td> <a href="{% url 'edit_sheet' sheet.number %}" class="mylink">No{{sheet.number}}</a> </td>
        {% else %}
          <td> No{{sheet.number}} </td>
        {% endif %}
        <td> {{ sheet.deadline|date:"D, j M (f A)" }} </td>
        <td>{% if sheet.link_sheet %} <a href="{{sheet.link_sheet}}" class="mylink">Link</a>{% else %}<div class="absent"> Not available </div>{% endif %} </td>
        <td>{% if sheet.link_solution %}
              {% if sheet.show_solutions %} <a href="{{sheet.link_solution}}" class="mylink">Link</a> {% else %} <div class="absent"> Please credit your students first </div> {% endif %} </td>
            {% else %}
               <div class="absent"> Not available </div>
            {% endif %}
    {% endfor %}
    </tr>
    <tr>
        <td colspan="4">
            <a href="{% url 'new_sheet' %}" class="mylink">new sheet</a>
        </td>
    </tr>
  </table>
  <p>
    <div class="w3-right w3-padding"> <a href="{% url 'students' %}" class="mylink">back to 'My Students'</a> </div>
  </p>



{% endblock %}

