{% extends 'student_crediting/base.html' %}

{% block content %}
  <div class="w3-container w3-margin-left">
    <h1>Statistics Overview</h1>
  <div id="container"></div>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/histogram-bellcurve.js"></script>
  <div id="container"></div>
  <script>
	Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
		title: {
			text: ''
		},
        credits: {
            enabled: false
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
		xAxis: {
			title: { text: 'Total Credits' },
			alignTicks: false,
            {% for eg in credit_values %}
              
            {% endfor %}
		},
		yAxis: {
			title: { text: 'Rate (normalized)' },
		},
		series: [
            {% for eg in credit_values %}
              {% if eg.hist %}
                {
                name: 'G{{ eg.group}} ({{ eg.tutor }})',
                data: {{eg.hist}},
                },
              {% endif %}
            {% endfor %}
        ]
	});
  </script>
  </div>
{% endblock %}

