{% extends 'student_crediting/base.html' %}

{% block content %}
  <div class="w3-container w3-margin-left">
    <h1>Total Credits - Comparing ExGroups to Full Distribution</h1>
  <div id="container"></div>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/histogram-bellcurve.js"></script>
  <div id="container"></div>
  <script>
	var data = {{ credit_values.0.hist }};
	Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
		title: {
			text: 'Credits Overview'
		},
        credits: {
            enabled: false
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
		xAxis: {
			title: { text: 'Credits' },
			alignTicks: false,
		},
		yAxis: {
			title: { text: 'Histogram' },
		},
		series: [{
            name: '{{ credit_values.0.tutor }}(G{{ credit_values.0.group}})',
			data: data,
		}]
	});
  </script>
  </div>
{% endblock %}

