{% extends 'student_crediting/base.html' %}

{% block content %}
  <div class="w3-container w3-margin-left">
    <h1>Statistics Details</h1>
    <h3>Average Credits assigned per Sheet and Exercise</h3>

{% if false %}
  {% for sheet in rsheets %}
    <p> <h2> Sheet No{{sheet.number}} </h2>  </p>
    <p>
    {% for eg in sheet.exgroups %}
      <div class="mybold"> ExGroup{{eg.number}} </div>
      {% for ex in eg.exercises %}
      <div style="text-indent:2%"> ExerciseNo {{ex.number}} (Avg: {{ex.avg|floatformat:-2}}, StdDev: {{ex.stddev|floatformat:-2}}, Sum: {{ex.csum|floatformat:-2}}, Errp: {{ex.errp|floatformat:-2}}, Errn: {{ex.errn|floatformat:-2}})</div>
      {% endfor %}
    {% endfor %}
    </p>
  {% endfor %}
{% endif %}


  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/highcharts-more.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>

{% for sheet in rsheets %}
  <div id="sheet{{sheet.number}}"></div>
  <script>
      Highcharts.chart('sheet{{sheet.number}}', {
        chart: {
            type: 'columnrange',
            //inverted: true
        },
		title: {
            text: 'Sheet No{{sheet.number}}'
		},
        credits: {
            enabled: false
        },
        xAxis: {
            categories: [
                {% for ex in sheet.exercises %}
                  'Ex {{ex.number}}', 
                {% endfor %}
                'TOTAL',
                  ]
        },
		yAxis: {
			title: { text: 'Avg +/- StdDev [Credits]' },
            min: -1,
            max: 11,
		},
        tooltip:{
            formatter: function() {
                var s = "<div style='font-size: smaller;'>"+ this.x +"</div>";
                return s += '<br/><span style="color:' + this.point.color + '">\u25CF</span> '+ this.series.name + ': Avg: <b>' + this.point.avg + '</b> (' + this.point.low + ', ' + this.point.high + ')';
            },
            outside: true,
            hideDelay: 50,
        },
		series: [
            {% for eg in sheet.exgroups %}
                {
                name: 'G{{ eg.number}} ({{ eg.tutor }})',
                data: [
                {% for ex in eg.exercises %}
                   {% if ex.errn and ex.errp %}
                    {  low:  {{ex.errn|floatformat:-2}}, 
                       high: {{ex.errp|floatformat:-2}},
                       avg : {{ex.avg|floatformat:-1}}, 
                    },
                   {% else %}
                    {
                        low: 0,
                        high: 0,
                        avg: 0,
                    },
                   {% endif %}
                {% endfor %}
                    {
                        low: {{eg.total.low|floatformat:-2}},
                        high: {{eg.total.high|floatformat:-2}},
                        avg: {{eg.total.avg|floatformat:-1}},
                    },
                     ],
                },
            {% endfor %}
        ],
	});
  </script>
{% endfor %}

{% endblock %}

