{% extends 'student_crediting/base.html' %}

{% block content %}
  <div class="w3-container w3-margin-left">
    <h1>Statistics Overview</h1>
  <div id="container"></div>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/histogram-bellcurve.js"></script>
  <div id="container"></div>
  <script>
	Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
		title: {
			text: ''
		},
        credits: {
            enabled: false
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
		xAxis: {
			title: { text: 'Total Credits' },
			alignTicks: false,
            {% for eg in credit_values %}
              
            {% endfor %}
		},
		yAxis: {
			title: { text: 'Rate (normalized)' },
		},
		series: [
            {% for eg in credit_values %}
              {% if eg.hist %}
                {
                name: 'G{{ eg.group}} ({{ eg.tutor }})',
                data: {{eg.hist}},
                },
              {% endif %}
            {% endfor %}
        ]
	});
  </script>

  <br>
  <div id="overview"></div>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/highcharts-more.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script>
      Highcharts.chart('overview', {
        chart: {
            type: 'columnrange',
            //inverted: true
        },
        title: {
            text: ''
        },
        credits: {
            enabled: false
        },
        xAxis: {
            categories: [
                {% for eg in egroup %}
                'G{{eg.number}} ({{eg.tutor.last_name}})',
                {% endfor %}
                  ]
        },
        yAxis: {
            title: { text: 'Avg +/- StdDev [Credits]' },
            min: -1,
            max: 11,
        },
        tooltip:{
            formatter: function() {
                var s = "<div style='font-size: smaller;'>"+ this.x +"</div>";
                return s += '<br/><span style="color:' + this.point.color + '">\u25CF</span> '+ 'Avg: <b>' + this.point.avg + '</b> (' + this.point.low + ', ' + this.point.high + ')';
            },
            outside: true,
            hideDelay: 50,
        },
        series: [
            {
            name: 'all data',
            data: [
            {% for eg in egroup %}
               {% if eg.errn and eg.errp %}
                {  low:  {{eg.errn|floatformat:-2}},
                   high: {{eg.errp|floatformat:-2}},
                   avg : {{eg.avg|floatformat:-1}},
                },
               {% else %}
                {
                    low: 0,
                    high: 0,
                    avg: 0,
                },
               {% endif %}
            {% endfor %}
                 ],
            },
            {
            name: 'ignore zero credits',
            data: [
            {% for eg in egroup %}
               {% if eg.errn_iz and eg.errp_iz %}
                {  low:  {{eg.errn_iz|floatformat:-2}},
                   high: {{eg.errp_iz|floatformat:-2}},
                   avg : {{eg.avg_iz|floatformat:-1}},
                },
               {% else %}
                {
                    low: 0,
                    high: 0,
                    avg: 0,
                },
               {% endif %}
            {% endfor %}
                 ],
            },
            {
            name: 'ignore zero and ten credits',
            data: [
            {% for eg in egroup %}
               {% if eg.errn_izt and eg.errp_izt %}
                {  low:  {{eg.errn_izt|floatformat:-2}},
                   high: {{eg.errp_izt|floatformat:-2}},
                   avg : {{eg.avg_izt|floatformat:-1}},
                },
               {% else %}
                {
                    low: 0,
                    high: 0,
                    avg: 0,
                },
               {% endif %}
            {% endfor %}
                 ],
            },

        ],
    });
  </script>
  </div>
{% endblock %}

