{% extends 'student_crediting/base.html' %}

{% block content %}
  {% if student_list %}
      <table class="w3-table-all w3-hoverable w3-card-4" id="students_table" onload="numberRows('last')">
        <tr>
		  <th>RZ ID</th>
          <th class="cursor-pointer-head" onclick="sortTable(1, numeric=false)">Name</th>
          <th class="cursor-pointer-head" onclick="sortTable(2, numeric=false)">Surname</th>
          {% if request.user.is_staff %}
            <th class="cursor-pointer-head" onclick="sortTable(3, numeric=false)">Group</th>
            <th class="cursor-pointer-head" onclick="sortTable(4, numeric=true, special='credits')">Exercises</th>
		  {% else %}
            <th class="cursor-pointer-head" onclick="sortTable(3, numeric=true, special='credits')">Exercises</th>
		  {% endif %}
          {% comment %} <th>Credits [%]</th> {% endcomment %} 
          {% if request.user.is_staff %}
            <th class="cursor-pointer-head" onclick="sortTable(5, numeric=true)">Missed </th>
            <th class="cursor-pointer-head" onclick="sortTable(6, numeric=true, special='credits')">Exam</th>
            <th class="cursor-pointer-head" onclick="sortTable(7, numeric=true, special='credits')">Total</th>
		  {% else %}
            <th class="cursor-pointer-head" onclick="sortTable(4, numeric=true)">Missed </th>
            <th class="cursor-pointer-head" onclick="sortTable(5, numeric=true, special='credits')">Exam</th>
            <th class="cursor-pointer-head" onclick="sortTable(6, numeric=true, special='credits')">Total</th>
		  {% endif %}
          <th class="cursor-pointer-head" onclick="numberRows('last')">#</th>
        </tr>
      {% for student,student_mt,student_mt2 in student_list %}
        <tr>
            <td><a href="student/{{ student.id }}/" class="mylink">{{ student.studentID }}</a></td>
            <td>{{ student.name }}</td>
            <td>{{ student.surname }}</td>
              {% if request.user.is_staff %}
              <td><a href="{% url 'exgroup_details' student.exgroup.number %}" class="mylink"> G{{ student.exgroup.number}}</a> ({{ student.exgroup.tutor.last_name }})</td>
              {% endif %}
              {% if config.bonus_credits %}
                <td>{{ student.credits_sum }}+{{ student.bonus_credits_sum }} (({{ student.credits_sum_perc|stringformat:".1f" }}+{{ student.bonus_credits_sum_perc|stringformat:".1f" }})%)</td> 
                {% comment %} <td>{{ student.credits_sum_perc|stringformat:".1f" }}+{{ student.bonus_credits_sum_perc|stringformat:".1f" }} </td> {% endcomment %} 
              {% else %}
                <td>{{ student.credits_sum|floatformat:-1 }} ({{ student.credits_sum_perc|floatformat:-1 }}%)</td> 
                {% comment %} <td>{{ student.credits_sum_perc|floatformat:-1 }}</td> {% endcomment %}
              {% endif %}
            <td>{{ student_mt.missed_tutorials|floatformat:-1 }} </td>
            <td>{% if student_mt2.exam_credits_achieved %}{{student_mt2.exam_credits_achieved|floatformat:-1}} / {{student_mt2.exam_credits_possible|floatformat:-1}} {% endif %} </td>
            <td>{% if student_mt2.combined_credits %}{{student_mt2.combined_credits|floatformat:-1}} / {{student_mt2.combined_credits_possible|floatformat:-1}} {% endif %} </td>
            <td></td>
        </tr>
      {% endfor %}
      </table>

<script>
function numberRows(n=7) {
    var rows, i = 0;
    table = document.getElementById("students_table");
    rows = table.rows;
    if (n=='last') {
        n = rows[0].cells.length - 1;
        //console.log('last; n=', n);
    }
    for (i = 1; i < (rows.length); i++) {
        rows[i].getElementsByTagName("TD")[n].innerHTML = i;
    };
};

//function sortTable(n) {
function sortTable(n, numeric, special="") {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  var ssw = false;
  table = document.getElementById("students_table");
  switching = true;
  //Set the proper sorting direction (default is ascending):
  var dtag = " \u25B2";
  var atag = " \u25BC";
  var tab_row_name = table.rows[0].getElementsByTagName("TH")[n].innerHTML;
//  console.log("tab_row_name = "+tab_row_name);
  if ( tab_row_name.includes(dtag) ){
      dir = "asc";
  } else if ( tab_row_name.includes(atag) ){
      dir = "desc";
  } else {
//      console.log(dtag + " and " + atag + " not in " + encodeURI(tab_row_name));
      dir = "asc";
  }
//  console.log("Launched sortTabel(n="+n+", numeric="+numeric+") -> switchcount = "+switchcount + "  - Direction = " + dir);
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
    //for (i = 1; i < (30); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /*check if the two rows should switch place,
      based on the direction, asc or desc:*/
      if (numeric && special == "") { 
          if( isNaN(+x.innerHTML) || isNaN(+y.innerHTML) ){
              //var err_str = +x.innerHTML + " or " + +y.innerHTML + " is not a number <br/>";
              var err_str = "Element is not a number <br/>";
              //document.write(err_str);
              //console.log(err_str);
              return;
          }
          if (dir == "asc") {
            ssw = (+x.innerHTML > +y.innerHTML); 
          } else {
            ssw = (+x.innerHTML < +y.innerHTML); 
          }
      } else if (special == "credits") {
          var xs = +x.innerHTML.split(" ")[0];
          var ys = +y.innerHTML.split(" ")[0];
          if (dir == "asc") {
              ssw = (xs > ys);
          } else {
              ssw = (xs < ys);
          }
      } else { 
          if (dir == "asc") {
            ssw = (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()); 
          } else {
            ssw = (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()); 
          }
      }
      if (ssw) {
          shouldSwitch = true ;
          //if (switchcount%100 == 0) {console.log(switchcount + " Please do switch.");}
          //if (switchcount > 1000) {  debugger; }
          break;
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      //Each time a switch is done, increase this count by 1:
      switchcount ++;      
      if (switchcount%100 == 0) {
          //console.log("Make switch: rows[" + i + "]= " + rows[i].getElementsByTagName("TD")[n].innerHTML + " and rows["+ (i+1) +"]= " + rows[i+1].getElementsByTagName("TD")[n].innerHTML );
          if (switchcount > 10000) {return; }
      }
    } 
//      else {
//      /*If no switching has been done AND the direction is "asc",
//      set the direction to "desc" and run the while loop again.*/
//      if (switchcount == 0 && dir == "asc") {
//        dir = "desc";
//        switching = true;
//      }
//    }
    //if (switchcount > 1000) { console.log("Breaking. Dir= ", dir); break; }
  }
  for (i = 1; i < (rows[0].cells.length); i++) {
      _ah = rows[0].getElementsByTagName("TH")[i];
      if (!_ah.innerHTML.includes("%")) { 
        _trimmed = _ah.innerHTML.split(" ")[0];
        _ah.innerHTML = _trimmed;
      }
  }
  sorted_header = rows[0].getElementsByTagName("TH")[n];
  old = sorted_header.innerHTML;
  if (dir == "asc") {
    sorted_header.innerHTML = old + atag;
  } else {
    sorted_header.innerHTML = old + dtag;
  }
// add numbers to rows:
  //console.log('table.rows[0].cells.length = ', table.rows[0].cells.length);
  numberRows(n=table.rows[0].cells.length-1);
}
</script>

  {% else %}
  <p>Diese Vorlesung hat noch keine Studenten. <br>
  Please report this issue to the <a href="mailto:sebastian.lindemann@physik.uni-freiburg.de">webmaster</a>.</p>
  {% endif %}

{% endblock %}

