{% extends 'student_crediting/base.html' %}

{% block lecture %} {{ lecture }} {% endblock %}
{% block logged_user %} {{ logged_user.first_name }} {{ logged_user.last_name }}{% endblock %}

{% block content %}
{% if logged_user.is_staff %}
    <h2> {{ student.name }} {{ student.surname}}  ({{ student.studentID }}) -- G{{ student.exgroup.number }}({{ student.exgroup.tutor }}) </h2>
{% else %}
    <h2> {{ student.name }} {{ student.surname}}  ({{ student.studentID }}) </h2>
{% endif %}

  {% if rdata %}
    <br>
        <table class="w3-table-all w3-hoverable w3-card-4">
    {% for rs in rdata %}
            <tr>
                <th>Sheet No{{ rs.sheet }} </th>
                {% for re in rs.sheet_data %}
                <th> Ex '{{re.exercise}}' [{{re.credits}}+{{re.bonus_credits}}] </th>
                {% endfor %}
            </tr>
            <tr>
                {% if rs.presence == None %}
                    <td> <a href="presence/new/{{ rs.sheet }}" > nyd  </a></td>
                {% else %}
                    <td> <a href="presence/update/{{ rs.presence.id }}" > {{rs.presence.present}} </a></td>
                {% endif %}
                {% for re in rs.sheet_data %}
                  {% if re.credit_pk == None %}
                    {% comment %}
                    <td> <a href="credits/new/{{ rs.sheet }}/{{ re.exercise_pk }}"> {{ re.credits_achieved }}+{{ re.bonus_credits_achieved }} </a> </td>
                    {% endcomment %}
                    <td> <a href="credits/new/{{ rs.sheet }}/{{ re.exercise_pk }}"> nyd </a> </td>
                  {% else %}
                    {% if re.blackboard_performance == None %}
                      <td> <a href="{{ re.credit_pk }}"> {{ re.credits_achieved }}+{{ re.bonus_credits_achieved }}  </a> </td>
                    {% else %}
                      <td> <a href="{{ re.credit_pk }}"> {{ re.credits_achieved }}+{{ re.bonus_credits_achieved }} ({{re.blackboard_performance}}) </a> </td>
                    {% endif %}
                  {% endif %}
                {% endfor %}
            </tr>
    {% endfor %}
        </table>
  {% else %}
  <p> There are no results for this student in the system. <br> </p>
  {% endif %}


{% endblock %}

