{% extends 'student_crediting/base.html' %}

{% block content %}
{% if logged_user.is_staff %}
    <h2> {{ student.name }} {{ student.surname}}  ({{ student.studentID }}) -- G{{ student.exgroup.number }}({{ student.exgroup.tutor }}) </h2>
{% else %}
    <h2> {{ student.name }} {{ student.surname}}  ({{ student.studentID }}) </h2>
{% endif %}

{% if student.email %}
<p>EMail: <a href="mailto:{{ student.email }}" class="w3-xlarge w3-margin-right">{{ student.email }}</a> <a href="edit_mail" class="mylink">(edit)</a>  </p>
{% else %}
<p><a href="edit_mail" class="absent">!!! PLEASE REGISTER STUDENT'S EMAIL ADDRESS !!!</a> </p>
{% endif %}

  {% if rdata %}
    <br>
        <table class="w3-table-all w3-hoverable w3-card-4">
    {% for rs in rdata %}
            <tr>
                <th>Sheet No{{ rs.sheet }} </th>
                {% for re in rs.sheet_data %}
                <th> Ex '{{re.exercise}}' [{{re.credits}}{% if config.bonus_credits %}+{{re.bonus_credits}}{% endif %}] </th>
                {% endfor %}
            </tr>
            <tr>
                {% if rs.presence == None %}
                    <td> <a href="presence/new/{{ rs.sheet }}" class="nyd"> nyd  </a></td>
                {% else %}
           {% comment %}      <td> <a href="presence/update/{{ rs.presence.id }}">{% if rs.presence.present %} &#10004; {% else %} &#10008; {% endif %}</a></td> {% endcomment %}
                <td> <a href="presence/update/{{ rs.presence.id }}"{% if rs.presence.present %} class="present"> &#10004;&#xfe0e; {% else %} class="absent"> &#10008; {% endif %}</a></td>
                {% endif %}
                {% for re in rs.sheet_data %}
                  {% if re.credit_pk == None %}
                    <td> <a href="credits/new/{{ rs.sheet }}/{{ re.exercise_pk }}" class="nyd"> nyd </a> </td>
                  {% else %}
                  <td> <a href="{{ re.credit_pk }}" class="done">{% if re.credits_achieved %} {{ re.credits_achieved|floatformat:-1 }} {% else %} None {% endif %}{% if config.bonus_credits %}+{{ re.bonus_credits_achieved|floatformat:-1 }}{% endif %}{% if re.blackboard_performance %} (<b>{{re.blackboard_performance}}</b>) {% endif %}</a> </td>
                  {% endif %}
                {% endfor %}
            </tr>
    {% endfor %}
        </table>
          <p>
              <div class="w3-right w3-padding"> <a href="{% url 'students' %}" class="mylink">back to 'My Students'</a> </div>
          </p>
  {% else %}
  <p> There are no results for this student in the system. <br> </p>
  {% endif %}


{% endblock %}

